.about-bio {
  background-color: #1e293b; /* Midnight Developer dark */
  border: 1px solid #1e293b; /* Slightly lighter border */
  color: #f8fafc; 
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 30px;
  border-radius: 1rem;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-bio:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
}

.bio-text{
    font-style: italic;
    font-family: cursive;
    font-size: 20px;
}

.premium-quote {
  position: relative;
  padding: 40px;
}

.big-quote {
  position: absolute;
  font-size: 60px;
  color: white;
  opacity: 0.12;
}

.big-quote.left {
  top: -10px;
  left: 10px;
}

.big-quote.right {
  bottom: -10px;
  right: 10px;
}

.premium-quote p {
  position: relative;
  z-index: 2;
  color: #e5e5e5;
  font-size: 18px;
}
