body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #0f172a;
  color: #ededee;
  margin: 0;
  padding: 0;
}

/* for footer  */
.sticky-end {
  /* position: sticky; */
  bottom: 0;
  width: 100%;
  background-color: #f6fff8;
  /* Background color for the footer */
  padding: 10px 0;
  /* Padding for better spacing */
}

@media only screen and (max-width: 600px) {

  .introSection .font-size,
  h4,
  h3 {
    text-align: center;
  }

  .introSection p {
    text-align: center;
    font-size: 14px;
    margin-left: 30px;
  }

  .btn .btn-lg .custom-button {
    display: none;
  }
}

/* Add some space around text for better readability */
p {
  line-height: 2;
  color: #333;
  font-size: 18px;
}

.margin {
  margin-top: 60px;
}

.font-size {
  font-size: 40px;
}

.footer {
  background-color: #1e293b; /* Midnight Developer dark */
  border: 1px solid #1e293b; /* Slightly lighter border */
  color: #f8fafc; 
  gap: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* admin: */
/* Adjust sidebar height for mobile */
.sidebar {
  height: 100vh;
  width: 250px;
}

/* Collapse sidebar in smaller screens */
.sidebar-navbar {
  width: 100%;
}

@media (max-width: 576px) {
  .sidebar {
    height: 50%;
    /* Adjust height on mobile */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .sidebar-toggler {
    margin-left: auto;
  }

  .sidebar-navbar .navbar-collapse {
    background-color: #343a40;
    padding: 0.5rem 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }
}